melanoma/
ModelNet10/
tcells/
logs/
melanoma_data/
melanoma_data_full/
wandb
archive/
playground.py
playground.ipynb
saved_models
DGCNN.py
DGCNN.sh
pointnet_baseline.sh
pointtransformer_baseline.py
pointtransformer_baseline.sh
tcells data/
pdo_data/
COVID_data/
main_covid_kfold.sh
"main_melanoma_kfold copy.sh"
main_melanoma_kfold.sh
main_melanoma.sh
main_pdo_kfold.sh
main_pdo.sh
persistence_models/
persistence_covid.sh
persistence_melanoma.sh
melanoma_pc_persistence.npy