melanoma/
ModelNet10/
tcells/
logs/
melanoma_data/
melanoma_data_full/
wandb
archive/
playground.py
playground.ipynb
saved_models
DGCNN.py
DGCNN.sh
pointnet_baseline.sh
pointtransformer_baseline.py
pointtransformer_baseline.sh
tcells data/
pdo_data/
COVID_data/